/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
 
# eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
 
# phpstorm
.idea/
 
# textmate
*.tmproj
*.tmproject
tmtags
 
# sublimetext
/*.sublime-project
*.sublime-workspace
 
# netbeans
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
 
# Linux
.*
!.gitignore
!.htaccess
*~
\.directory
 
# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# -- Base Symfony --------------------------------------
/web/js/base.js
/web/css/base.css

# JQuery
/web/js/jquery.min.js

# JQuery UI
/web/js/jquery-ui.min.js
/web/css/jquery-ui.min.css
/web/css/images/ui-bg_flat_0_aaaaaa_40x100.png
/web/css/images/ui-icons_444444_256x240.png
/web/css/images/ui-icons_555555_256x240.png
/web/css/images/ui-icons_777620_256x240.png
/web/css/images/ui-icons_777777_256x240.png
/web/css/images/ui-icons_cc0000_256x240.png
/web/css/images/ui-icons_ffffff_256x240.png

# Bootstrap
/web/js/bootstrap.min.js
/web/css/bootstrap.min.css
/web/fonts/glyphicons-halflings-regular.eot
/web/fonts/glyphicons-halflings-regular.svg
/web/fonts/glyphicons-halflings-regular.ttf
/web/fonts/glyphicons-halflings-regular.woff
/web/fonts/glyphicons-halflings-regular.woff2
