<div class="fos_user_group_list">
    <ul class="list-group">
    {% for group in groups %}
        <li class="list-group-item"><a href="{{ path('fos_user_group_show', {'groupName': group.getName()} ) }}">{{ group.getName() }}</a></li>
    {% endfor %}
    </ul>
</div>
